{% var visible_columns = row.get_visible_columns(["gold_invoice", "tanggal", "customer", "total",
	"outstanding"]); %}

{% if(!doc) { %}
	<div class="row">
		<div class="col-sm-4 col-xs-4">{%= __("No Nota") %}</div>
		<div class="col-sm-2 hidden-xs text-right">{%= __("Tanggal Nota") %}</div>
		<div class="col-sm-2 hidden-xs text-right">{%= __("Customer") %}</div>
		<div class="col-sm-2 col-xs-4 text-right">{%= __("Berat Invoice") %}</div>
		<div class="col-sm-2 col-xs-4 text-right">{%= __("Sisa Tagihan 24K") %}</div>
	</div>
{% } else { %}
	<div class="row">
		<div class="col-sm-4 col-xs-4">
                <strong>{%= doc.gold_invoice %}</strong>
		</div>

		<!-- tanggal -->
		<div class="col-sm-2 hidden-xs text-right">
			{%= doc.get_formatted("tanggal") %}
		</div>

		<!-- customer -->
		<div class="col-sm-2 hidden-xs text-right">
			{% if (!frappe.perm.is_visible("customer", doc, frm.perm)) { %}
				<span class="text-muted">{%= __("hidden") %}</span>
			{% } else { %}
                {% if (doc.customer ) { %}
				{%= doc.get_formatted("customer") %}
                {% } if (doc.sub_customer){ %}
				{%= doc.get_formatted("sub_customer") %}
                {% } if (doc.end_customer) { %}
				{%= doc.get_formatted("end_customer") %}
                {% } %}
			{% } %}
		</div>

		<!-- total -->
		<div class="col-sm-2 col-xs-4 text-right">
			{% if (!frappe.perm.is_visible("total", doc, frm.perm)) { %}
				<span class="text-muted">{%= __("hidden") %}</span>
			{% } else { %}
				{%= doc.get_formatted("total") %}
			{% } %}
		</div>

		<!-- outstanding -->
		<div class="col-sm-2 col-xs-4 text-right">
			{% if (!frappe.perm.is_visible("outstanding", doc, frm.perm)) { %}
				<span class="text-muted">{%= __("hidden") %}</span>
			{% } else { %}
				{%= doc.get_formatted("outstanding") %}
			{% } %}
		</div>
	</div>
{% } %}